@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gordita";
  src: local("Gordita"), url(./fonts/Gordita-Regular.otf) format("truetype");
}

body {
  font-family: Gordita;
}
